:root {
  font-size: 1rem;
}

.credit-card-box {
  perspective: 62.5rem;
  width: 25rem;
  height: 17.5rem;
  position: absolute;
  top: -7rem;
  left: 50%;
  transform: translateX(-50%);
}
.credit-card-box:hover .flip,
.credit-card-box.hover .flip {
  transform: rotateY(180deg);
}
.credit-card-box .front,
.credit-card-box .back {
  width: 25rem;
  height: 15.625rem;
  border-radius: 0.9375rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: linear-gradient(135deg, #bd6772, #53223f);
  position: absolute;
  color: #fff;
  font-family: Consolas, Courier, monospace;
  top: 0;
  left: 0;
  text-shadow: 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.0625rem 0.375rem rgba(0, 0, 0, 0.3);
}
.credit-card-box .front::before,
.credit-card-box .back::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url('http://cdn.flaticon.com/svg/44/44386.svg') no-repeat center;
  background-size: cover;
  opacity: 0.05;
}
.credit-card-box .flip {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.credit-card-box .logo {
  position: absolute;
  top: 0.5625rem;
  right: 1.25rem;
  width: 3.75rem;
}
.credit-card-box .logo svg {
  width: 100%;
  height: auto;
  fill: #fff;
}
.credit-card-box .front {
  z-index: 2;
  transform: rotateY(0deg);
}
.credit-card-box .back {
  transform: rotateY(180deg);
}
.credit-card-box .back .logo {
  top: 11.5625rem;
}
.credit-card-box .chip {
  position: absolute;
  width: 3.75rem;
  height: 2.8125rem;
  top: 1.25rem;
  left: 1.25rem;
  background: linear-gradient(135deg, #ddccf0 0%, #d1e9f5 44%, #f8ece7 100%);
  border-radius: 0.5rem;
}
.credit-card-box .chip::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 0.25rem solid rgba(128, 128, 128, 0.1);
  width: 80%;
  height: 70%;
  border-radius: 0.3125rem;
}
.credit-card-box .strip {
  background: linear-gradient(135deg, #404040, #1a1a1a);
  position: absolute;
  width: 100%;
  height: 3.125rem;
  top: 1.875rem;
  left: 0;
}
.credit-card-box .number {
  position: absolute;
  margin: 0 auto;
  top: 6.4375rem;
  left: 1.1875rem;
  font-size: 1.875rem;
}
.credit-card-box label {
  font-size: 0.625rem;
  letter-spacing: 0.0625rem;
  text-shadow: none;
  text-transform: uppercase;
  font-weight: normal;
  opacity: 0.5;
  display: block;
  margin-bottom: 0.1875rem;
}
.credit-card-box .card-holder,
.credit-card-box .card-expiration-date {
  position: absolute;
  margin: 0 auto;
  top: 11.25rem;
  left: 1.1875rem;
  font-size: 1.375rem;
  text-transform: capitalize;
}
.credit-card-box .card-expiration-date {
  text-align: right;
  left: auto;
  right: 1.25rem;
}
.credit-card-box .ccv {
  height: 2.25rem;
  background: #fff;
  width: 91%;
  border-radius: 0.3125rem;
  top: 6.875rem;
  left: 0;
  right: 0;
  position: absolute;
  margin: 0 auto;
  color: #000;
  text-align: right;
  padding: 0.625rem;
}
.credit-card-box .ccv label {
  margin: -1.5625rem 0 0.875rem;
  color: #fff;
}